<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>ONLINE COLLEGE ASSIGNMENT</title>
    <link rel="stylesheet" href="{% static 'admin/vendors/mdi/css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/flag-icon-css/css/flag-icon.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.base.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'admin/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
          <h1 class="sidebar-brand brand-logo" href="">TEACHER </h1>
          
        </div>
        
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
             
               </a>
          </li>
          <p class="px-3">Main</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'teacher_dashboard'%}">
              <img src="https://img.icons8.com/office/26/undefined/home-office.png"/> &nbsp; &nbsp;
              <span class="menu-title active">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <img src="https://img.icons8.com/office/26/undefined/activity-feed.png"/>  &nbsp; &nbsp;
              <span class="menu-title">Assignment</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'teacher_add_assignment'%}" >Add Assignment</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'teacher_manage_assignment'%}">Manage Assignment</a>
                </li>
                
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'teacher_announcement_news'%}">
              <img src="https://img.icons8.com/office/28/undefined/communication.png"/> &nbsp; &nbsp;
              <span class="menu-title">Annoucement/News</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic-1" aria-expanded="false" aria-controls="ui-basic-1">
              <img src="https://img.icons8.com/office/28/undefined/multiple-inputs.png"/>  &nbsp; &nbsp;
              <span class="menu-title">Uploaded Assignment</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic-1">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'teacher_unchecked'%}" >Un Checked</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'teacher_checked'%}">Checked</a>
                </li>
                
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'teacher_subject_wise_report'%}">
              <img src="https://img.icons8.com/office/25/undefined/overtime.png"/> &nbsp; &nbsp;
              <span class="menu-title">Subject Wise Report</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'teacher_reg_user'%}">
              <img src="https://img.icons8.com/color/27/undefined/test-account.png"/> &nbsp; &nbsp;
              <span class="menu-title">Reg User</span>
            </a>
          </li> 
        </ul>
       </nav>
       <div class="container-fluid page-body-wrapper">
        
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
            <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href=""><img src="{% static 'admin/images/logo-mini.svg'%}" alt="logo" /></a>
            <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
              <i class="mdi mdi-menu"></i>
            </button>
            <ul class="navbar-nav">
              <li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex">
                <div class="row">
                  <div class="col-6 grid-margin">
                    
                  </div>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right ml-lg-auto">
             
              <li class="nav-item nav-profile dropdown border-0">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                  <img class="nav-profile-img mr-2" alt="" src="https://img.icons8.com/external-nawicon-flat-nawicon/48/000000/external-teacher-back-to-school-nawicon-flat-nawicon.png"/>
                  <span class="profile-name">TEACHER</span>
                </a>
                <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
                  <a class="dropdown-item" href="{% url 'teacher_profile'%}">
                    <i class="mdi mdi-cached mr-2 text-success"></i> Profile </a>
                  
                    <a class="dropdown-item" href="{% url 'index'%}">
                      <i class="mdi mdi-logout mr-2 text-primary"></i> Logout </a>
                  </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header" style="background-color:white;">
                    <h3 class="page-title px-3">Checked Assignment</h3>
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'teacher_dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page"> Checked Assignment </li>
                      </ol>
                    </nav>
                  </div>
                  <div class="row">  
                    <div class="col-md-12 grid-margin stretch-card">
                              <div class="card">
                                <div class="card-body">
                                  <h3 class="card-title">Checked Assignment</h3>
                                  <br>
                                  <div class="table-responsive">
                                    <table class="table table-bordered">
                                      <thead>
                                        <tr>
                                          <th>S.No</th>
                                          <th>Assignment No</th>
                                          <th>Course Name</th>
                                          <th>Subject Name</th>
                                          <th>Submitted By</th>
                                          <th>Submitted Date</th>
                                          <th>Action</th>
                                        </tr>
                                      </thead>
                                      {% comment %} <tbody>
                                        <tr>
                                         <td>1</td>
                                         <td>DE101-94149</td>
                                         <td>B.Tech(Infomation Technology)</td>
                                         <td>Digital Electronics</td>
                                         <td>Test User(12345)</td>
                                         <td>2020-09-16</td>
                                         <td><a href="teacher-uploded-assignment"><img src="https://img.icons8.com/ios-glyphs/28/undefined/visible--v1.png"/></a></td>
                                        </tr>
                                       
                                      </tbody> {% endcomment %}
                                      <tbody>
                                        {% for i in a %}
                                        {% if i.submited %}
                                        <tr>
                                        
                                          <td>{{i.submit_id}}</td>
                                          
                                          <td>{{i.assign.assignment_title}}</td>
                                          <td>{{i.assign.course.branch_name}}</td>
                                          <td>{{i.assign.subject}}</td>
                                          <td>{{i.submited_student.student_name}}</td>
                                          <td>{{i.assign.last_date|date:"d-m-Y" }}</td>
                                          <td><a href="/teacher-uploded-assignment/{{i.submit_id}}"><img src="https://img.icons8.com/ios-glyphs/28/undefined/visible--v1.png"/></a></td>
                                         {% comment %} <td>{{i.last_date}}</td>
                                         {% endcomment %}
                                          {% comment %} <td><a href="/student-submit-assignments/{{i.assignment_id}}">Submit</a></td> {% endcomment %}
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                       
                                      </tbody>
                                    </table>
                                    
                                  </div>
                                </div>
                              </div>
                            </div>   
                      </div> 
               </div>
          <!--footer start-->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center ">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">© 2022 All Copyright Reserved by
               <a href="https://www.bootstrapdash.com/" target="_blank">Codebook.in</a></span>
            </div>
          </footer>
        </div>

        <!-- main-panel ends -->
     
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'admin/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.fillbetween.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.pie.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'admin/js/off-canvas.js' %}"></script>
    <script src="{% static 'admin/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'admin/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'admin/js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>