{% comment %} <!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
  
    <title>ONLINE COLLEGE ASSIGNMENT</title>
  
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css"   href="{% static 'main/css/bootstrap.css' %}" />
    <!-- fonts style -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"  />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}"/>
    <!-- responsive style -->
    <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}" />
  </head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <h3>
              Online College
            </h3>
            <span> Assignments</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto ">
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'student_dashboard' %}">Dashboard</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'student_new_assignments' %}">New Assignments</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'student_manage_assignment' %}">Manage Assignments</a>
              </li>&nbsp;&nbsp;
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'student_upload1_assignments' %}">Uploaded Assignments </a>
              </li>&nbsp;&nbsp;
              <li class="nav-item">
                <a class="nav-link" href="{% url 'student_annoucements' %}">Announcements </a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
              <button type="button" class="btn" style="background-color:rgb(220, 231, 233);"><a href="/main/index.html">LogOut</a></button>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
   
    <!-- end slider section -->
  
  <!-- special section -->

 

  <!-- end special section -->

  <!-- about section -->


  <!-- end about section -->

  <!-- course section -->

 

  <!-- end course section -->

  <!-- login section -->


  <!-- end login section -->

  <!-- event section -->
  <section class="event_section layout_padding" style="background-color:white">
    <div class="container">
      <div class="content-wrapper">
        <div class="page-header" style="background-color:white;">
          <h3  style="background-color:rgba(74, 243, 206, 0.904); ">Upload Assignment</h3>
          <br> <br> 
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-boarder">
                        <thead>
                          <tr>
                            <th>S.No</th>
                            <th>Assignment Number</th>
                            <th>Course Name</th>
                            <th>Subject</th>
                            <th>Assignment By</th>
                            <th>Date of Submission</th>
                            <th>Posting Date</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>DE101-94149</td>
                            <td>B.Tech(Infomation Technology)</td>
                            <td>Digital Electronics(DE101)</td>
                            <td>Anuj Kumar</td>
                            <td>2020-10-31</td>
                            <td>2020-09-16</td>
                            <td>UnChecked Assignment</td>
                            <td><a href="{% url 'student_uploaded_assignments' %}"><img src="https://img.icons8.com/ios-glyphs/28/undefined/visible--v1.png"/></a></td>
                          </tr>    
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
         
         
         
        
          
        </div>
      </div>
      <br><br>
    
    
      
    </div>
  </section>

  <!-- end event section -->

  <!-- client section -->

 

  <!-- end client section -->

  <!-- contact section -->


  <!-- end contact section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_menu">
            <h5>
              QUICK LINKS
            </h5>
            <div class="collapse navbar-collapse ml-auto px-5" id="navbarSupportedContent">
              <ul class="navbar-nav  ml-auto">
                <li class="nav-item active px-2">
                  <a class="nav-link active" href="{% url 'index' %}">Home </a>
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link " href="{% url 'teacher_login' %} "> Teacher</a>
                </li>
                <li class="nav-item px-3 ">
                  <a class="nav-link" href="{% url 'student_login' %}"> Student </a>
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link" href="{% url 'admin_login' %}"> Admin </a>
                </li>
               
              </ul>
              
            </div>
          </div>
        </div>
        <div class="col-md-3">
          
        </div>

        <div class="col-md-5 offset-md-1">
          <div class="info_news">
            <h5>
              FOR ANY QUERY, PLEASE WRITE TO US
            </h5>
            <div class="info_contact">
              <a href="">
                Location
              </a>
              <a href="">
                demo@gmail.com
              </a>
              <a href="">
                Call : +01 1234567890
              </a>
            </div>
            <form action="">
              <input type="text" placeholder="Enter Your email" />
              <button>
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      &copy; 2022 All Rights Reserved By
      <a href="https://www.codebook.in/" style="color:blue;">Codebook.in</a>
    </p>
  
  </footer>

   
  <footer class="container-fluid footer_section">
  
    
  </footer>
 
  <!-- footer section -->

  <script type="text/javascript" src="{% static 'main/js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'main/js/bootstrap.js' %}"></script>

</body>

</html> {% endcomment %}