<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
  
    <title>ONLINE COLLEGE ASSIGNMENT</title>
  
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css"   href="{% static 'main/css/bootstrap.css' %}" />
    <!-- fonts style -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"  />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}"/>
    <!-- responsive style -->
    <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}" />
  </head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'index' %}">
            <h3>
              Online College
            </h3>
            <span> Assignments</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'student_dashboard' %}">Dashboard</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'student_new_assignments' %}">New Assignments</a>
              </li>&nbsp;&nbsp;
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'student_manage_assignment' %}">Manage Assignments</a>
              </li>&nbsp;&nbsp;
              {% comment %} <li class="nav-item">
                <a class="nav-link" href="{% url 'student_upload1_assignments' %}">Uploaded Assignments </a>
              </li> {% endcomment %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'student_annoucements' %}">Annoucements</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
              <button type="button" class="btn" style="background-color:rgb(220, 231, 233);"><a href="{% url 'index' %}">LogOut</a></button>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
   
    <!-- end slider section -->
  
  <!-- special section -->

 

  <!-- end special section -->

  <!-- about section -->


  <!-- end about section -->

  <!-- course section -->

 

  <!-- end course section -->

  <!-- login section -->


  <!-- end login section -->

  <!-- event section -->
  <section class="event_section layout_padding" style="background-color:white">
    <div class="container">
      <div class="content-wrapper">
        <div class="page-header" style="background-color:white;">
          <h3  style="background-color:rgba(74, 243, 206, 0.904); ">Manage Assignment</h3>
          <br> <br> 
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-boarded">
                        <thead>
                          <tr>
                            <th>S.No</th>
                            <th>Course</th>
                            <th>Subject</th>
                            <th>Assignment No</th>
                            <th>Assignment By</th>
                            <th>Posting Date</th>
                            <th>Date of Submission</th>
                            <th>Status</th>
                            <th>Action</th>
                            <th>See Results</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for i in a %}
                           <tr>
                            
                              {% if i.submited %}
                            <td>{{i.assignment_id}}</td>
                            <td>{{i.course.branch_name}}</td>
                            <td>{{i.subject}}</td>
                            <td>{{i.assignment_title}}</td>
                            <td>{{i.Assignment_details.teacher_name}}</td>
                            <td>{{i.posting_date}}</td>
                            <td>{{i.last_date}}</td>
                            <td style="color:blue;">{{i.status}} </td>
                            <td><button type="submit" class="btn" style="color: white; background-color:skybule;"><a href="/student-update-assignment/{{i.assignment_id}}">Update</a></button></td>
                            {% if i.status == 'Checked' %}
                            <td><a href="/student-assignment-result/{{i.assignment_id}}">Results</a></td>
                            {% else %}
                            <td style="color:red;">No Result</td>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            
                          </tr>
                          
                            {% comment %} {% for i in a %}
                          {% for u in b %}
                          <tr>
                            <td>{{i.assignment_id}}</td>
                            <td>{{i.assignment_title}}</td>
                            <td>{{i.course.branch_name}}</td>
                            <td>{{i.subject}}</td>
                            <td>{{i.Assignment_details.teacher_name}}</td>
                            <td>{{i.last_date}}</td>
                            <td>12-01-2022</td>
                            <td>Unchecked</td>
                            <td><a href="/student-update-assignment/{{i.assignment_id}}/{{u.submit_id}}">Update</a></td>
                            {% endfor %}
                            {% endfor %}
                           </tr> {% endcomment %}
                            {% comment %} <td>1</td>
                            <td>DE101-35182</td>
                            <td>B.Tech(IT)</td>
                            <td>Digital Electronics(DE101)</td>
                            <td>Anuj Kumar</td>
                            <td>2020-07-21</td>
                            <td>2020-07-15</td>
                            <td>Un Checked Assignment</td>
                            <td><a href="/student/update-assignment">Update</a></td> {% endcomment %}
                          
                           {% comment %} <tr>
                            <td>2</td>
                            <td>Maths101-81818</td>
                            <td>B.Tech(IT)</td>
                            <td>Mathematics(Math101)</td>
                            <td>Test Sample</td>
                            <td>2020-11-01</td>
                            <td>2020-09-15</td>
                            <td>Checked Assignment</td>
                            <td><a href="/student/update-assignment">See Results</a></td>
                           </tr>    
                           <tr>
                            <td>3</td>
                            <td>Math101-90065</td>
                            <td>B.Tech(IT)</td>
                            <td>Mathematics(Math101)</td>
                            <td>Test Sample</td>
                            <td>2020-07-26</td>
                            <td>2020-07-18</td>
                            <td>Un Checked Assignment</td>
                            <td>Submit</td>
                           </tr>    
                           <tr>
                            <td>4</td>
                            <td>DE101-45429</td>
                            <td>B.Tech(IT)</td>
                            <td>Digital Electronics(DE101)</td>
                            <td>Test Sample</td>
                            <td>2020-09-30</td>
                            <td>2020-09-10</td>
                            <td>Un Checked Assignment</td>
                            <td >Submit</td>
                           </tr>      {% endcomment %}
                        </tbody>
                      </table>
                    
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>
  </section>

  <!-- end event section -->

  <!-- client section -->

 

  <!-- end client section -->

  <!-- contact section -->


  <!-- end contact section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_menu">
            <h5>
              QUICK LINKS
            </h5>
            <div class="collapse navbar-collapse ml-auto px-5" id="navbarSupportedContent">
              <ul class="navbar-nav  ml-auto">
                <li class="nav-item active px-2">
                  <a class="nav-link active" href="{% url 'index' %}">Home </a>
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link " href="{% url 'teacher_login' %} "> Teacher</a>
                </li>
                <li class="nav-item px-3 ">
                  <a class="nav-link" href="{% url 'student_login' %}"> Student </a>
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link" href="{% url 'admin_login' %}"> Admin </a>
                </li>
               
              </ul>
              
            </div>
          </div>
        </div>
        <div class="col-md-3">
          
        </div>
        <div class="col-md-5 offset-md-1">
          <div class="info_news">
            <h5>
              FOR ANY QUERY, PLEASE WRITE TO US
            </h5>
            <div class="info_contact">
              <a href="">
                Location
              </a>
              <a href="">
                demo@gmail.com
              </a>
              <a href="">
                Call : +01 1234567890
              </a>
            </div>
            <form action="">
              <input type="text" placeholder="Enter Your email" />
              <button>
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      &copy; 2022 All Rights Reserved By
      <a href="https://www.codebook.in/" style="color:blue;">Codebook.in</a>
    </p>
  
  </footer>

   
  <footer class="container-fluid footer_section">
  
    
  </footer>
 
  <!-- footer section -->

  <script type="text/javascript" src="{% static 'main/js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'main/js/bootstrap.js' %}"></script>

</bod>

</html>