<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>ONLINE COLLEGE ASSIGNMENT</title>
    <link rel="stylesheet" href="{% static 'admin/vendors/mdi/css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/flag-icon-css/css/flag-icon.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/css/vendor.bundle.base.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'admin/images/favicon.png' %}" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript"> 
      function loginvalidation(){ 
                var Email1 = document.myform.email
                var passw=  /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{5,16}$/; 
                var mailformat = /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/; 
                var NamE=  document.myform.teachername 
                var Branch1 = document.myform.gender
                var mobileno1 = document.myform.mobileno 
                var gender1 = document.myform.course
                var address = document.myform.subject 
                var photo1 = document.myform.tphoto 
                 
                if (NamE.value==""){ 
                    alert("Please Enter Teacher Name:"); 
                    NamE.focus(); 
                    return false; 
                }  
        
                if (Branch1.value=="select"){ 
                  alert("Please Select Gender:"); 
                  Branch1.focus(); 
                  return false; 
                } 
                
                if (Email1.value==""){ 
                  alert("Please Enter Email ID:"); 
                  Email1.focus(); 
                  return false; 
                }
      
                if (mobileno1.value==""){ 
                  alert("Please Enter mobileno:"); 
                  mobileno1.focus(); 
                  return false; 
                }
      
                if (gender1.value=="select"){ 
                  alert("Please Select Course:"); 
                  gender1.focus(); 
                  return false; 
                }
                
                if (address.value=="select"){ 
                  alert("Please Select Subject:"); 
                  address.focus(); 
                  return false; 
                }
      
                if (photo1.value==""){ 
                    alert("Please Select Teacher Photo:"); 
                    photo1.focus(); 
                    return false; 
                }      
             
                if (mobileno1.value.length != 10) { 
  
                  alert("please Enter valid mobile number"); 
                   
                  return false; 
                   
              } 
           
              if (mobileno1.value.length <= 0) { 
           
                  alert("Please Enter Mobile Number"); 
           
                  return false; 
              } 
               if(!Email1.value.match(mailformat)){ 
                  alert("Invalid Email format");   
                  Email1.focus();             
                return false; 
                }    
      
                return true;    
            } 
         </script>
  </head>

<body>
  {% csrf_token %}
              {% if messages %}              
              {% for message in messages %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
						<script>swal({
						  title: "Error!",
						  text: "{{message}}",
						  icon: "warning",
						  button: "OK",
						});
					  </script>
					 
					{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
						<script>swal({
						  title: "Success :)",
						  text: "{{message}}",
						  icon: "success",
						  button: "OK",
						});
					  </script>
					{% endif %}              
				  {% endfor %} 
				 {% endif %}
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
          <h1 class="sidebar-brand brand-logo" href="">ADMIN</h1>
          
        </div>
        
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
             
               </a>
          </li>
          <p class="px-3">Main</p>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_dashboard' %}">
              <img src="https://img.icons8.com/office/26/undefined/home-office.png"/> &nbsp; &nbsp;
              <span class="menu-title active">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_course' %}">
              <img src="https://img.icons8.com/office/26/undefined/activity-feed.png"/>  &nbsp; &nbsp;
              <span class="menu-title">Course</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_subject' %}">
              <img src="https://img.icons8.com/office/26/undefined/address-book.png"/>  &nbsp; &nbsp;
              <span class="menu-title">Subject</span>
            </a>
          </li>
          <p class="px-3">Apps</p>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <img src="https://img.icons8.com/color/27/undefined/test-account.png"/> &nbsp; &nbsp;
              <span class="menu-title">Teacher</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin_add_teacher' %}" >Add Teacher</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin_manage_teacher' %}">Manage Teacher</a>
                </li>
                
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_announcement_news' %}">
              <img src="https://img.icons8.com/office/28/undefined/communication.png"/> &nbsp; &nbsp; 
              <span class="menu-title">Annoucement/News</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic-1" aria-expanded="false" aria-controls="ui-basic-1">
              <img src="https://img.icons8.com/office/28/undefined/multiple-inputs.png"/>  &nbsp; &nbsp;
              <span class="menu-title">Uplaoded Assignment</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic-1">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin_unchecked' %}">Un Checked</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin_checked' %}">Checked</a>
                </li>
                
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_b_w_dates_assignment' %}">
              <img src="https://img.icons8.com/office/25/undefined/overtime.png"/> &nbsp; &nbsp;
              <span class="menu-title pt-2">B/w dates Assignment<br>report</span>
              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_search' %}">
              <img src="https://img.icons8.com/wired/25/undefined/search.png"/> &nbsp; &nbsp;
              <span class="menu-title">Search</span>
            </a>
          </li>  
        </ul>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-default-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles light"></div>
            <div class="tiles dark"></div>
          </div>
        </div>
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
            <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="index.html"><img src="{% static 'admin/images/logo-mini.svg' %}" alt="logo" /></a>
            <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
              <i class="mdi mdi-menu"></i>
            </button>
            <ul class="navbar-nav">
              <li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex">
                
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right ml-lg-auto">
             
              <li class="nav-item nav-profile dropdown border-0">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                  <img class="nav-profile-img mr-2" alt="" src="https://img.icons8.com/color/48/000000/head-profile.png"/>
                  <span class="profile-name">Admin</span>
                </a>
                <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
                  <a class="dropdown-item" href="{% url 'index' %}">
                  <i class="mdi mdi-logout mr-2 text-primary"></i> Logout </a>
              </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>
  <!--page-body-wrapper starts--> 
      <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header" style="background-color:white;">
                <h3 class="page-title px-3">Update Teacher</h3>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Update Teacher </li>
                  </ol>
                </nav>
              </div>
            <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Teacher Information</h3>
                    <form method="POST" enctype="multipart/form-data" onsubmit = "return loginvalidation()"  name="myform">
                      {% csrf_token %}
                      <br>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Teacher Name</label>
                            <div class="col-sm-9">
                              <input type="text" name="teachername" value={{a.teacher_name}} class="form-control" />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-9">
                              <select class="form-control" name="gender" >
                                <option selected hidden>{{a.gender}}</option>
                                <option>Male</option>
                                <option>Female</option>
                              </select>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email ID</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="email" value={{a.email}} />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Mobile No:</label>
                           <div class="col-sm-9">
                            <input type="text" class="form-control" name="mobileno" value={{a.mobileno}}>
                           </div>
                           
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Course</label>
                                <div class="col-sm-9">
                                  <select class="form-control" name="course">
                                    <option selected hidden  value='{{a.course.course_id}}' >{{a.course.course_name}}({{a.course.branch_name}})</option>
                                    {% for i in b %}
                                    <option>{{i.course_name}} ({{i.branch_name}})</option>
                                    {% endfor %}
                                  </select> 
                                </div>
                              </div>  
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Subject</label>
                            <div class="col-sm-9">
                              <select class="form-control" name="subject" >
                                <option selected hidden>{{a.subject}}</option>
                                    {% for i in c %}
                                    <option>{{i.subject_name}}</option>
                                    {% endfor %}
                              </select>
                            </div>
                          </div>
                        </div>
        
                      </div>
                      {% comment %} <div class="row">
                        <div class="col-md-7">
                            <div class="form-group row">
                              <label class="col-sm-3 col-form-label" style="padding-top:20px">Photo(150x150)*</label>
                              <div class="col-sm-9" style="margin-bottom:40px"><br>
                                <input type="file" name="tphoto"   style="margin-bottom:20px;" id="myfile" >
                              </div>
                            </div>
                          </div>
                      </div> {% endcomment %}
                      <center><button type="submit" class="btn" style="color:white;background-color:rgb(252, 170, 18); ">Update</button></center>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br><br>
          <!--footer starts-->
          
          <footer class="footer">
            <div class="d-sm-flex justify-content-center ">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">© 2022 All Copyright Reserved by
               <a href="https://www.bootstrapdash.com/" target="_blank">Codebook.in</a></span>
            </div>
          </footer>
          <!--footer ends--> 
        </div>
        
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'admin/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.fillbetween.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'admin/vendors/flot/jquery.flot.pie.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'admin/js/off-canvas.js' %}"></script>
    <script src="{% static 'admin/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'admin/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'admin/js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>